.onc-border-collapse-collapse { border-collapse:collapse }

.onc-border-width-0 { border-width:0 }

.onc-color-000000 { color:#000000 }

.onc-color-1e4e79 { color:#1E4E79 }

.onc-color-2e75b5 { color:#2E75B5 }

.onc-color-595959 { color:#595959 }

.onc-color-5b9bd5 { color:#5B9BD5 }

.onc-color-666666 { color:#666666 }

.onc-direction-ltr { direction:ltr }

.onc-font-family-arial { font-family:Arial }

.onc-font-family-consolas { font-family:Consolas }

.onc-font-size-11-0pt { font-size:11.0pt }

.onc-font-size-1pt { font-size:1pt }

.onc-font-size-9pt { font-size:9pt }

.onc-font-style-italic { font-style:italic }

.onc-font-weight-bold { font-weight:bold }

.onc-height-1-2173in { height:1.2173in }

.onc-height-1px { height:1px }

.onc-height-2-1722in { height:2.1722in }

.onc-height-4-1951in { height:4.1951in }

.onc-height-7-5847in { height:7.5847in }

.onc-margin-0 { margin:0 }

.onc-margin-left-0 { margin-left:0 }

.onc-margin-left-2rem { margin-left:2rem }

.onc-margin-left-8px { margin-left:8px }

.onc-margin-top-0 { margin-top:0 }

.onc-margin-top-1826in { margin-top:.1826in }

.onc-margin-top-2rem { margin-top:2rem }

.onc-min-width-1-3326in { min-width:1.3326in }

.onc-min-width-1-4361in { min-width:1.4361in }

.onc-min-width-9388in { min-width:.9388in }

.onc-min-width-9583in { min-width:.9583in }

.onc-min-width-9798in { min-width:.9798in }

.onc-padding-0 { padding:0 }

.onc-text-align-center { text-align:center }

.onc-text-align-left { text-align:left }

.onc-text-align-right { text-align:right }

.onc-text-indent-calc-1666in-0-23em { text-indent:calc(-.1666in - 0.23em) }

.onc-vertical-align-top { vertical-align:top }

.onc-width-1048in { width:.1048in }

.onc-width-1px { width:1px }

.onc-width-3-6312in { width:3.6312in }

.onc-width-4-4756in { width:4.4756in }

.onc-width-8-2125in { width:8.2125in }

.converted-page-spacer { font-size:1em;line-height:0.95;margin:0 }

.converted-content-spacer { font-size:1em;line-height:1;margin:0 }

.onc-body { background-color:transparent;color:initial;font-family:Calibri;font-size:11.0pt }

.onc-copy { font-family:Calibri;font-size:11.0pt;margin:0 }

.onc-meta { font-family:Calibri,Arial,sans-serif;font-size:10pt;margin:0 }

.onc-title { font-family:"Calibri Light";font-size:20pt;font-weight:400;margin:0 }

.onc-h1 { font-family:Calibri;font-size:16.0pt;margin:0 }

.onc-h2 { font-family:Calibri;font-size:14.0pt;margin:0 }

.onc-h3 { font-family:Calibri;font-size:12.0pt;margin:0 }

.onc-cite { font-family:Calibri;font-size:9.0pt;margin:0 }

.onc-table { border-collapse:collapse;border-color:#A3A3A3;border-style:solid;border-width:1pt }

.onc-cell { border-color:#A3A3A3;border-style:solid;border-width:1pt;padding:2.0pt 3.0pt 2.0pt 3.0pt;vertical-align:top }

.onc-page-title { border-bottom:1px solid #b7b7b7;display:inline-block;padding-bottom:0.08em;padding-right:1in }

.onc-page-date-tone { color:#666666 }

.onc-page-time { color:#666666;margin-left:0.75em }

.onc-background-white { background:white }

.onc-color-1861a7 { color:#1861A7 }

.onc-color-330066 { color:#330066 }

.onc-color-555555 { color:#555555 }

.onc-color-c00000 { color:#c00000 }

.onc-margin-top-1805in { margin-top:.1805in }

.onc-width-1-9423in { width:1.9423in }

.onc-width-2-225in { width:2.225in }

.onc-width-2-3034in { width:2.3034in }

.onc-width-2-9305in { width:2.9305in }

.onc-width-3-034in { width:3.034in }

.onc-width-4-9666in { width:4.9666in }

.onc-width-4-9736in { width:4.9736in }

.onc-width-5-0215in { width:5.0215in }

.onc-width-5-0291in { width:5.0291in }

.onc-width-5-0777in { width:5.0777in }

.onc-width-5215in { width:.5215in }

.onc-width-6-309in { width:6.309in }

.onc-width-7-2423in { width:7.2423in }

.onc-width-7-2583in { width:7.2583in }

.onc-width-7-3347in { width:7.3347in }

.onc-width-7-3881in { width:7.3881in }

.onc-width-7-4666in { width:7.4666in }

.onc-width-7-468in { width:7.468in }

.onc-width-7-5166in { width:7.5166in }

.onc-width-7-5916in { width:7.5916in }

.onc-width-7-602in { width:7.602in }

.onc-width-7-7048in { width:7.7048in }

.onc-width-8131in { width:.8131in }

.onc-width-9173in { width:.9173in }

.onc-width-9298in { width:.9298in }

.onc-width-9319in { width:.9319in }

.onc-list { direction:ltr;font-family:Calibri;font-size:11.0pt;font-style:normal;font-weight:400;margin-bottom:0;margin-left:0.35em;margin-top:0;padding-inline-start:1.2em;padding-left:1.2em;unicode-bidi:embed }

.onc-list-item { margin-bottom:0;margin-top:0;vertical-align:middle }

.onc-bullet-list { direction:ltr;margin-bottom:0;margin-left:0.35em;margin-top:0;padding-inline-start:1.2em;padding-left:1.2em;unicode-bidi:embed }

.onc-inline-copy { font-family:Calibri;font-size:11.0pt;font-style:normal;font-weight:400 }

.onc-inline-copy-lite { font-family:Calibri;font-size:11.0pt }

.onc-table-borderless { border-collapse:collapse;border-color:#A3A3A3;border-style:solid;border-width:0 }

.onc-cell-borderless-lite { border-width:0;padding:2.0pt 3.0pt 2.0pt 3.0pt;vertical-align:top }

.onc-color-17365d { color:#17365D }

.onc-color-366092 { color:#366092 }

.onc-font-family-calibri { font-family:Calibri }

.onc-font-size-13-0pt { font-size:13.0pt }

.onc-font-size-16-0pt { font-size:16.0pt }

.onc-margin-bottom-12pt { margin-bottom:12pt }

.onc-margin-left-375in { margin-left:.375in }

.onc-margin-top-4826in { margin-top:.4826in }

.onc-margin-top-5pt { margin-top:5pt }

.onc-text-indent-1666in { text-indent:-.1666in }

.onc-width-3-052in { width:3.052in }

.onc-width-3-1256in { width:3.1256in }

.onc-width-3-1673in { width:3.1673in }

.onc-width-3-1881in { width:3.1881in }

.onc-width-3-2743in { width:3.2743in }

.onc-width-3-3187in { width:3.3187in }

.onc-width-3-3736in { width:3.3736in }

.onc-width-3-3881in { width:3.3881in }

.onc-width-5in { width:.5in }

.onc-width-6-902in { width:6.902in }

.onc-width-6673in { width:.6673in }

.onc-width-7715in { width:.7715in }

.onc-width-8486in { width:.8486in }

.onc-width-9326in { width:.9326in }

.onc-width-952in { width:.952in }

.onc-font-family-verdana { font-family:Verdana }

.onc-font-size-12-0pt { font-size:12.0pt }

.onc-font-size-14-0pt { font-size:14.0pt }

.onc-margin-bottom-9pt { margin-bottom:9pt }

.onc-margin-left-3-0pt { margin-left:3.0pt }

.onc-margin-top-4805in { margin-top:.4805in }

.onc-width-7-1798in { width:7.1798in }

.onc-width-7-2493in { width:7.2493in }

.onc-width-7-2597in { width:7.2597in }

.onc-width-2-3166in { width:2.3166in }

.onc-width-5-0319in { width:5.0319in }

.onc-width-5-0444in { width:5.0444in }

.onc-width-7-1888in { width:7.1888in }

.onc-width-7-5201in { width:7.5201in }
